<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mohit Lingarkar</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    </head>

<body class="bg-washed-blue mid-gray helvetica">
<script src="js/oneko.js"></script>
<main class="pa4 mw7 center">
<header class="lh-title bb bw1 b--blue">
    <h1 class="mv1 f1 debug-grid-16"><a class="link mid-gray hover-bg-blue hover-washed-blue" href="/">Mohit Lingarkar</a></h1>
    <div class="f3 mv3 flex flex-wrap">
        <div class="w-100 w-auto-ns">
            <a class="mr4 link hover-bg-blue mid-gray hover-washed-blue"
            href="https://github.com/mowhits" target="_blank">Github</a>
        </div>
        <div class="w-100 w-auto-ns">
            <a class="mr4 link hover-bg-blue mid-gray hover-washed-blue"
            href="/notes">Notes</a>
	</div>
        <div class="w-100 w-auto-ns">
            <a class="mr4 link hover-bg-blue mid-gray hover-washed-blue"
            href="/cv.pdf">CV</a>

	</div>


    </div>
</header>
    <article class="mv4">
            {% block content %} {% endblock %}
    </article>
</main>
</body>
</html>
