{% extends "base.html" %}
{% block content %}

<div class="f3 lh-copy">
    <p>This is Mohit's website. I am a sophomore studying electronics at RIT, Bengaluru.</p>
    <div class="fr w-50 pa4">
	    <img class="ba b--blue" src="me.jpg">
	    <p class="f6 tc i ba b--blue">Me</p>
</div>
    <p>I love computers. I like solving puzzles and listening to <a class="link mid-gray hover-bg-blue hover-washed-blue" href="https://open.spotify.com/user/7e6p9xjerynnm0w3nske2czzt">music</a>. I would like to learn to surf some day.</p>
    <p>You can contact me at <b>1ms23ei033 [at] msrit [dot] edu</b>. For more information, you can read my <a class="link hover-bg-blue" href="cv.pdf">CV</a>. </p>
    <p>Have a good day!</p>

</div>

<div>
	<h2 class="f2 lh-title">Projects <small class="f6 i blue">Stuff I've been working on</small></h2>
	<div class="ph2">
	<ul class="list f3 ph2 " style="list-style-type:'✱';">
		<li>
			<b class="db f3 mb1 mt0 ph4"> <a class="link mid-gray hover-bg-blue hover-washed-blue" href="https://github.com/mowhits/kilo-clone">kilo-clone</a></b>
			<div class="ph4">
				<span class="f5 db lh-copy measure"> A text editor written in &lt;1000 lines of C.</span>
			</div>
			<div class="pa0">
			<script src="https://asciinema.org/a/6ninhmGNsEouSlNDOFXSbrvB9.js" id="asciicast-6ninhmGNsEouSlNDOFXSbrvB9" async="true"></script>
			</div>
		</li>
		<li class="pb4">
			<b class="db f3 mb1 mt0 ph4"> <a class="link mid-gray hover-bg-blue hover-washed-blue" href="https://github.com/mowhits/ams">ams</a></b>
			<div class="ph4">
			<span class="f5 db lh-copy measure"> An interpreter for a small toy language written in python.</span>
			</div>
		</li>
		<li class="pb4">
			<b class="db f3 mb1 mt0 ph4"> <a class="link mid-gray hover-bg-blue hover-washed-blue" href="https://colab.research.google.com/gist/mowhits/865a5a257306f25fac8d9167d922c19c/src-sc.ipynb">recce</a></b>
			<div class="ph4">
			<span class="f5 db lh-copy measure"> A music recommendation system which suggests songs similar to those provided by the user using Spotify data and K-means clustering.</span>
			</div>
		</li>
	</ul>
	</div>
</div>

{% endblock content %}
