{% extends "base.html" %}
{% block content %}
<div class="f3 lh-copy">
    <p>This is Mohit's website. I am a freshman studying electronics at RIT, Bengaluru.</p>
    <p>I like listening to music, watching movies and solving puzzles. Here, I post music I like and my notes. </p>
</div>

<div>
	<h2 class="f2 lh-title">Projects <small class="f6 i blue">Stuff I've been working on</small></h2>
	<div class="ph2">
	<ul class="list f3 ph2" style="list-style-type:'✱';">
		<li>
			<b class="db f3 mb1 mt0 ph4"> <a class="link mid-gray hover-bg-blue hover-washed-blue" href="https://github.com/mowhits/kilo-clone">kilo-clone</a></b>
			<div class="ph4">
			<span class="f5 db lh-copy measure"> A text editor written in C, following the <a class="link hover-bg-blue" href="https://viewsourcecode.org/snaptoken/kilo/index.html">Build Your Own Text Editor</a> instruction booklet.</span>
			<script src="https://asciinema.org/a/6ninhmGNsEouSlNDOFXSbrvB9.js" id="asciicast-6ninhmGNsEouSlNDOFXSbrvB9" async="true"></script>
			</div>
		</li>
	</ul>
	</div>
	<div class="ph2">
	<ul class="list f3 ph2" style="list-style-type:'✱';">
		<li>
			<b class="db f3 mb1 mt0 ph4"> <a class="link mid-gray hover-bg-blue hover-washed-blue" href="https://github.com/mowhits/ams">ams</a></b>
			<div class="ph4">
			<span class="f5 db lh-copy measure"> An interpreter for a small toy language written in python.</span>
			</div>
		</li>
	</ul>
	</div>
</div>

<div>
    <h2 class="f2 lh-title">Music <small class="f6 i blue">Sounds I've been enjoying</small></h2> 
    <div class="cf pa2">
      <div class="fl w-50 w-25-m w-20-l pa1">
        <a href="https://open.spotify.com/album/5BLVbQpGvXQLJZHm2U0xam" class="db link hover-bg-light-blue grow tc">
          <img src="https://i.scdn.co/image/ab67616d0000b273ec61b9ae9299e7185f840071" alt="Mabe Fratti Pies Sobre La Terra Album Cover" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Pies Sobre La Terra</dd>
            <dt class="clip">Artist</dt>
	    <dd class="ml0 blue truncate w-100 i">Mabe Fratti</dd>
          </dl>
        </a>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa1">
            <a href="https://open.spotify.com/album/10GkvioKyOSyh7Q7aIbu2C" class="db link hover-bg-light-blue grow tc">
              <img src="https://i.scdn.co/image/ab67616d0000b27374a15231dbc371253d0c00ec" alt="Nusrat Fateh Ali Khan Shahen-Shah Album Cover" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black truncate w-100">Shahen-Shah</dd>
                <dt class="clip">Artist</dt>
                <dd class="ml0 blue truncate w-100 i">Nusrat Fateh Ali Khan</dd>
              </dl>
            </a>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa1">
            <a href="https://open.spotify.com/album/7zY2ieneVxxTqhdY9c6Jiow" class="db link hover-bg-light-blue grow tc">
              <img src="https://i.scdn.co/image/ab67616d0000b27379100ef7a1974071e1cb550f" alt="Meaningful Stone A Call from My Dream Album Cover" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black truncate w-100">A Call from My Dream</dd>
                <dt class="clip">Artist</dt>
		<dd class="ml0 blue truncate w-100 i">Meaningful Stone</dd>
              </dl>
            </a>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa1">
            <a href="https://open.spotify.com/album/5QTsPoZuJr2aPTQ49ui41R" class="db link hover-bg-light-blue grow tc">
              <img src="https://i.scdn.co/image/ab67616d0000b273009e036fcca204ac912b54cd" alt="downy 第七作品集『無題』 Album Cover" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black truncate w-100">第七作品集『無題』</dd>
                <dt class="clip">Artist</dt>
                <dd class="ml0 blue truncate w-100 i">downy</dd>
              </dl>
            </a>
        </div>
        <div class="fl w-50 w-25-m w-20-l pa1">
            <a href="https://open.spotify.com/album/2g487tcaDmufrDamXe1YEm" class="db link hover-bg-light-blue grow tc">
              <img src="https://i.scdn.co/image/ab67616d0000b2735c41b42a4f8706224bdbf030" alt="Bird's Eye Batang Flood Format Album Cover" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black truncate w-100">Flood Format</dd>
                <dt class="clip">Artist</dt>
                <dd class="ml0 blue truncate w-100 i">Bird's Eye Batang</dd>
              </dl>
            </a>
        </div>
</div>
<div>
    <h2 class="f2 lh-title">Movies <small class="f6 i blue">Movies I've been obsessed with</small></h2>
    <div class="cf pa2">
        <div class="fl w-50 w-25-m w-20-l pa1">
          <a href="https://boxd.it/28X4" class="db link hover-bg-light-blue grow tc">
            <img src="https://a.ltrbxd.com/resized/sm/upload/lr/y5/2n/1c/7ABcfmXQZeCXl5sNrDuLS1URMPN-0-460-0-690-crop.jpg" alt="The Dreamers Poster" class="w-100 db outline black-10"/>
            <dl class="mt2 f6 lh-copy">
              <dt class="clip">Title</dt>
              <dd class="ml0 black truncate w-100">The Dreamers</dd>
              <dt class="clip">Director</dt>
              <dd class="ml0 blue truncate w-100 i">Bernardo Bertolucci</dd>
            </dl>
          </a>
    </div>

        <div class="fl w-50 w-25-m w-20-l pa1">
          <a href="https://boxd.it/1RnI" class="db link hover-bg-light-blue grow tc">
            <img src="https://a.ltrbxd.com/resized/sm/upload/ct/sk/hw/s3/f8HomPJlyPGIWgBODNbWQrRgjxW-0-460-0-690-crop.jpg" alt="The Brown Bunny Poster" class="w-100 db outline black-10"/>
            <dl class="mt2 f6 lh-copy">
              <dt class="clip">Title</dt>
              <dd class="ml0 black truncate w-100">The Brown Bunny</dd>
              <dt class="clip">Director</dt>
              <dd class="ml0 blue truncate w-100 i">Vincent Gallo</dd>
            </dl>
          </a>
    </div>

        <div class="fl w-50 w-25-m w-20-l pa1">
          <a href="https://boxd.it/1Ha0" class="db link hover-bg-light-blue grow tc">
            <img src="https://a.ltrbxd.com/resized/sm/upload/4w/sy/nq/o5/qrpUybe97xNRYk63TryiwbItoAV-0-460-0-690-crop.jpg" alt="Happy Together Poster" class="w-100 db outline black-10"/>
            <dl class="mt2 f6 lh-copy">
              <dt class="clip">Title</dt>
              <dd class="ml0 black truncate w-100">Happy Together</dd>
              <dt class="clip">Director</dt>
              <dd class="ml0 blue truncate w-100 i">Wong Kar-Wai</dd>
            </dl>
          </a>
    </div>
        <div class="fl w-50 w-25-m w-20-l pa1">
          <a href="https://boxd.it/1VqG" class="db link hover-bg-light-blue grow tc">
            <img src="https://a.ltrbxd.com/resized/sm/upload/lr/v7/b3/mr/2W1xPQldNjJmFgqLllpUi6XRRCs-0-1000-0-1500-crop.jpg?v=1aff06d731" alt="Network Poster" class="w-100 db outline black-10"/>
            <dl class="mt2 f6 lh-copy">
              <dt class="clip">Title</dt>
              <dd class="ml0 black truncate w-100">Network</dd>
              <dt class="clip">Director</dt>
              <dd class="ml0 blue truncate w-100 i">Sidney Lumet</dd>
            </dl>
          </a>
        </div>
</div>
{% endblock content %}
